.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 125px;
}

.nav-items{
    padding: 10px 20px;
}
.nav-items > ul{
    font-size: 20px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}
.res-card{
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    width: 210px; 
    background-color: #f0f0f0;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.filter-btn{
    margin-left: 10px;
    cursor: pointer;
}
.filter{
    display: flex;
    margin-top: 10px;
    justify-content: center
    ;
}  
.res-logo{
    width: 100%;
    height: 200px;

    
    
}
.res-container{
    margin-left: 65px;
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    font-size: 15px;
    margin: 10px;
    padding: 5px;
    width: 210px; 
    height: 500px;
    background-color: #f0f0f0;

}
.shimmer-container {
    margin-left: 65px;
    display: flex;
    flex-wrap: wrap;

}
.login {   
    padding: 0 20px;
    height: 60px;
    cursor: pointer;

}
.user-card {
    padding: 10px;
    border: 1px solid black
}