.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 125px;
}

.nav-items{
    padding: 10px 20px;
}
.nav-items > ul{
    font-size: 20px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}
.res-card{
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    width: 210px; 
    background-color: rgb(201, 200, 199);
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.filter-btn{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.filter-btn:hover{
    background-color: rgb(173, 203, 255);

}
    
.res-logo{
    width: 100%;
    height: 200px;

    
    
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}